<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="redirect.js"></script>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Slash is an Open-Source minimilastic URL shortner focusing on privacy."
    />
    <meta name="author" content="Sumit kolhe" />
    <meta property="og:site_name" content="Reduced" />
    <!-- website name -->
    <meta property="og:site" content="https://url.sumit.codes" />
    <!-- website link -->
    <meta property="og:title" content="" />
    <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" />
    <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <title>Slash | Open-source free URL shortener</title>

    <link href="styles.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-clipboard2/0.3.1/vue-clipboard.min.js"></script>
  </head>

  <body>
    <main class="container" id="app">
      <header>
        <h1>S/ASH</h1>
      </header>
      <form onSubmit="return false;">
        <input
          type="text"
          class="textbox"
          v-on:keyup.enter="checkUrl"
          v-bind:class="{badurl:badurl}"
          :placeholder="urlplaceholder"
          v-model="url"
        />
        <input
          type="text"
          class="alias"
          v-bind:class="{badalias:badalias}"
          :placeholder="aliasplaceholder"
          v-model="alias"
        />
        <button v-on:click="checkUrl">{{buttontext}}</button>
      </form>
      <div class="shorturl">
        <p class="shorturlfield" id="copyto" v-if="stored!=null">
          {{stored}}
        </p>
        <button
          class="copybutton"
          v-if="stored!=null"
          v-clipboard:copy="stored"
          v-clipboard:success="onCopy"
        >
          Copy
        </button>

        <div id="toast">Link copied</div>
      </div>
    </main>

    <script src="short.js"></script>
    <script></script>
  </body>
</html>
