
/******************************/
/*     01. General Styles     */
/******************************/
html{
	position:relative; 
	min-height: 100%;
	transition: all 0.5s ease;
	  font-family: 'Montserrat', sans-serif;
	
  }

.textbox{
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 70%;
	padding-top: .5625rem;
	padding-bottom: 0.5625rem;
	padding-left: 1.25rem;
	margin-top: 1.5625rem;
	border: 1px solid #c4d8dc;
	border-radius: .75rem;
	outline: none;
	font-weight: bolder;
	font-size: large;	
	padding: 1rem;
	font-family: 'Montserrat', sans-serif;
	
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}


.textbox:focus {
	border: 4px solid rgb(63, 63, 63); 
}


.header {
	font-family: 'Montserrat', sans-serif;
	/*background-image:url(Group\ 7.png);*/
	
	background-image: url(Group\ 5.svg), none;
	background-repeat: no-repeat;


}


.header h1 {
	margin-bottom: 1.5rem;
	font-size: 3.0rem;
	line-height: 3rem;
}


.header-frame {
	margin-top: -1px; /* To remove white margin in FF */
	width: 100%;
	height: 2.25rem;
}
	/* Header */


	.header .text-container {
		
		padding-top: 2rem;
		margin-right: 0.5rem;
		padding-bottom: 30%;
	}	

	.header-frame {
		height: 9.375rem;
	}
	/* end of header */
	
.bttn{
	width: 50%;
	margin: 2rem 0rem 1rem 0rem;
	padding: 0.5rem 1.0rem .5rem 1.0rem;
	border: 0.125rem solid #D3D3D3;
	border-radius: 1rem;
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	transition: all 0.2s;
	outline: none;
}

.bttn:hover{
	border: 2px solid rgb(63, 63, 63); 
}

.foot{
	margin-top: 2rem;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2rem;
	width: 100%;
	overflow: hidden;
	background-color: transparent;
	color: black;
	text-align: center;
	font-weight: bolder;
	font-family: 'Montserrat', sans-serif;
	
}

.reduceitbtn{
	-webkit-appearance: none;
	-moz-appearance: none;
    display: inline-block;
	padding: 1.0rem 2.0rem 1.0rem 2.0rem;
	border: 0.200rem solid #D3D3D3;
	border-radius: 2rem;
	background-color: #ffffff;
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	transition: all 0.4s ease;
	outline: none;
}

.reduceitbtn:focus {
	outline: 0;
	}

.reduceitbtn:hover{
  background-color:#000000;
  color:#ffffff;
}

.loading{
position: relative;
  font-size:0;
  width:30px;
  height:30px;
  border-radius:15px;
  padding:0;
  border:4px solid #000000;
  border-bottom:3px solid rgba(255,255,255,0.0);
  border-left:3px solid rgba(255,255,255,0.0);
  background-color:transparent !important;
  animation-name: rotateAnimation;
  -webkit-animation-name: wk-rotateAnimation;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes rotateAnimation {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@-webkit-keyframes wk-rotateAnimation {
    0%   {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}
.svg11{

	text-align: right;

	
  }

