
/******************************/
/*     01. General Styles     */
/******************************/


.btn-solid-lg {
	display: inline-block;
	padding: 1.0rem 2.0rem 1.0rem 2.0rem;
	border: 0.125rem solid #88bdbc;
	border-radius: 2rem;
	background-color: #88bdbc;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	transition: all 0.2s;
	outline: none;
}

.form-control-input,
.form-control-select {
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: .5625rem;
	padding-bottom: 0.5625rem;
	padding-left: 1.25rem;
	margin-top: 1.5625rem;
	border: 1px solid #c4d8dc;
	border-radius: .75rem;
	background-color: #fff;
	color: #555;
	outline: none;
	transition: all 0.3s ease;
  	font-family: 'Montserrat', sans-serif;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}


/*********************/
/*    04. Header     */
/*********************/

#textbox:focus {
	border: 4px solid rgb(63, 63, 63); 
}

#textbox {
	font-weight: bolder;
	font-size: large;	
	padding: 1rem;
	font-family: 'Montserrat', sans-serif;
}

.header {
	background-color: #F55;
	font-family: 'Montserrat', sans-serif;
}


.header h1 {
	margin-bottom: 1.5rem;
	color: #fff;
	font-size: 3.0rem;
	line-height: 3rem;
}


.header .btn-solid-lg {
	margin-right: 0.5rem;
	margin-bottom: 1.125rem;
	margin-top: 1.125rem;
	margin-left: 0rem;
	border-color: #f3f7fd;
	background-color: #f3f7fd;
	color: #242424;
	outline: none;
}

.header .btn-solid-lg:hover {
	background: transparent;
	color: #f3f7fd;
}


.header-frame {
	margin-top: -1px; /* To remove white margin in FF */
	width: 100%;
	height: 2.25rem;
}


	/* Header */
	.header .header-content {
		padding-top: 1rem;
		padding-bottom: 10rem;
	}

	.header .text-container {
		margin-top: 5.5rem;
		margin-right: 0.5rem;
	}	

	.header-frame {
		height: 9.375rem;
	}
	/* end of header */
	
.bttn{
	
	margin: 2rem 0rem 1rem 0rem;
	padding: 0.5rem 1.0rem .5rem 1.0rem;
	border: 0.125rem solid #fff;
	border-radius: 1rem;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	transition: all 0.2s;
	outline: none;
}

.bttn:hover{
	border: 2px solid rgb(63, 63, 63); 
}





#foot{
	position: relative;
	left: 0;
	bottom: -3.0rem;
	width: 100%;
	background-color: white;
	color: black;
	text-align: center;
	font-weight: bolder;
	font-family: 'Montserrat', sans-serif;
	
}

.reduceitbtn{
	-webkit-appearance: none;
    display: inline-block;
	padding: 1.0rem 2.0rem 1.0rem 2.0rem;
	border: 0.125rem solid #ffffff;
	border-radius: 2rem;
	background-color: #ffffff;
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	transition: all 0.2s;
	outline: none;
}

.reduceitbtn:focus {
	outline: 0;
	-webkit-appearance: none;
	}

.reduceitbtn:hover{
  background-color:#f55;
  color:#ffffff;
  -webkit-appearance: none;

}

.loading{
  font-size:0;
  width:30px;
  height:30px;

  border-radius:15px;
  padding:0;
  border:3px solid #FFFFFF;
  border-bottom:3px solid rgba(255,255,255,0.0);
  border-left:3px solid rgba(255,255,255,0.0);
  background-color:transparent !important;
  animation-name: rotateAnimation;
  -webkit-animation-name: wk-rotateAnimation;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes rotateAnimation {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@-webkit-keyframes wk-rotateAnimation {
    0%   {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

