body{
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: block;
    padding: 5rem 0rem 0rem 0;
    font-size: 1.5rem;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    padding: 0 21% 0 21%;
}

@media only screen and (max-width: 480px) {
	.container{
		padding-left: 6%;
		padding-right: 6%;
	}
}

footer{
    display: flex;
}

form{
	width: 100%;
	min-height: 10rem;
    padding: 0rem 0rem 1rem 0rem;
}

input{
    border-radius: .75rem;
    margin: 0rem 0rem 1.5rem 0;
    display: block;
	padding-top: .5625rem 0.5625rem 0rem 1.25rem;
	border: 0.130rem solid #757575;
	outline: none;
	font-weight: bolder;
	font-size: large;	
	padding: 1rem 20% 1rem 1rem;
	line-height: 1.5rem;
	-webkit-appearance: none;
}

button{
    
    -webkit-appearance: none;
	-moz-appearance: none;
    display: inline-block;
	padding: 1.0rem 1.5rem 1.0rem 1.5rem;
	border: 0.225rem solid #000000;
	border-radius: 2rem;
	font-size: larger;
	background-color: #ffffff;
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	transition: all 0.5s ease;
    outline: none;
}


button:hover{
  background-color:#000000;
  color:#ffffff;
}

.shorturl{
    width: 100%;     
}

.spacer{
    display: flex;
    flex-grow: 1;
}

.loading{
  font-size:0;
  width:40px;
  height:40px;
  border-radius:20px;
  display: inline-block;
  padding:0;
  color: #ffffff;
  border:4px solid #000000;
  border-bottom:3px solid rgba(255,255,255,0.0);
  border-left:3px solid rgba(255,255,255,0.0);
  background-color:transparent !important;
  animation-name: rotateAnimation;
  -webkit-animation-name: wk-rotateAnimation;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  transition: all .5s;
}

@keyframes rotateAnimation {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@-webkit-keyframes wk-rotateAnimation {
    0%   {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

